<!-- This is at the top of every page, likely going to include a logo, search bar, link to logged in user profile etc.-->

<div class="w3-container w3-black">
    <img src="https://orefox.com/templates/rt_aurora/custom/images/OreFox_web_logo-white.png" alt="OreFox Icon" style="float:left;padding:14px;background-color:black;" width=200 height=100>
    <p style = "float:left;">Hello <i>{{request.user}}</i> how are you?</p>
    <p style = "float:left;">Board Name: {{request.POST.title}}<p>
    <a style = "float:right;" href="profile/" >{{request.user}}'s profile</a>
</div>


