{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class = "splash-image">
    <img src="{% static 'images/darksplash2.png' %}" alt="OreFox Icon" style="background-color:white;object-fit:fill;" width=2560 height=1440>
    <div class = "centered" style = "line-height: 96px;"><b>Project promotion and evaluation made smarter</b></div>
    <div class = "centered" style = "font-size:36px;padding-top:400px;">MineFinder is a global platform connecting buyers and sellers of mineral exploration and mining projects.</div>
    <div class = "centered" style = "padding-top:600px;"><button class="button" style = "color:white;background-color:#B85C38;font-size:28px;padding:18px 36px;"><a href = "register/"><b>Register Now</b></a></button></div>
</div>

<div class = "w3-container" style = "background-color: white;">
    <p class = "splash-image" style = "font-size: 60px;"><b>The MineFinder mission is to get the right projects in front of the right people</b></p>
    <p style = "float: left; width: 15%;text-align: center;margin: 200px 320px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 5px;">
        <img src="{% static 'images/meetingc.jpg' %}" alt="meeting" style = "width:100%;"></img>
        <br><b>Buy Projects</b>
        <br>Search through listings of global mining projects. Then discuss things with the client in our virtual deal room.
        <br><button class="button" style = "color:white;background-color:#B85C38;font-size:28px;padding:18px 36px;">Search Projects</button>
    </p>
    <p style = "float: left; width: 15%;text-align: center;margin: 200px 70px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 5px;">
        <img src="{% static 'images/sellc.jpg' %}" alt="sell" style = "width:100%;"></img>
        <br><b>Sell Projects</b>
        <br>Submit your project and display it through our listings. Then view applications by prospective buyers
        <br><button class="button" style = "color:white;background-color:#B85C38;font-size:28px;padding:18px 36px;width: 100%;">Submit Projects</button>
    </p>
    <p style = "float: right; width: 15%;text-align: center;margin: 200px 280px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 5px;">
        <img src="{% static 'images/auditc.jpg' %}" alt="audit" style = "width:100%;"></img>
        <br><b>Audit Projects</b>
        <br>Run a background check on listed projects to get a better idea of how a company is conducting their business.
        <br><button class="button" style = "color:white;background-color:#B85C38;font-size:28px;padding:18px 36px;">Find Projects</button>
    </p>
</div>

<div class = "banner">
    <img src = "{% static 'images/canyon.jpg' %}" alt = "canyon" width = 51% ></img>
    <div class = "splash-image" style="width:49%;height:1504px;float:right;background-color: #E0C097;margin-top: 200px;text-align: left;color: #5C3D2E;padding:200px;font-size: 78px; line-height: 96px;"><b>MineFinder is a global platform designed for collaboration on mining and exploration projects, combining data rooms and deal management to allow easy and efficient due diligence.</b></div>
</div>

<div class = "w3-container" style = "background-color: white;">
    <p class = "splash-image" style = "font-size: 80px; padding-top: 200px;"><b>Existing Solutions</b></p>
    <p class = "splash-image" style = "font-size: 30px; padding-top: 20px;opacity: 50%;">Disadvantages with the current system</p>

    <img src="{% static 'images/dollarc.jpg' %}" style = "float: left;width: 20%; height: 20%;margin-left: 200px; margin-top: 200px; border-radius: 15px; "></img>
    <p style = "float: left;margin-top: 200px;font-size: 24px; width: 20%;">
        <b>Bias towards projects with money</b>
        <br><br>Once a project has been uploaded, Minefinder will carry out verification, editing if needed, generate keywords and tags for further data analysis then publish the project to the platform.
    </p>

    <img src="{% static 'images/confusedc.jpg' %}" style = "float:left;width: 20%; height: 20%;margin-left: 200px; margin-top: 200px; border-radius: 15px; "></img>
    <p style = "float: left;margin-top: 200px;font-size: 24px; width: 20%;">
        <b>Have no set format</b>
        <br><br>Data in each project is set out differently, which makes it difficult to compare or even find the data you need to make a decision.
    </p>

    <img src="{% static 'images/crumpledc.jpg' %}" style = "float:left;width: 20%; height: 20%;margin-left: 200px; margin-top: 200px; border-radius: 15px; "></img>
    <p style = "float: left;margin-top: 200px;font-size: 24px; width: 20%;">
        <b>Payment doesn’t guarantee outcome</b>
        <br><br>These websites require money with no guarantee of outcome or quality of projects and require serendipity of the perfect project listing on the system/website you use.
    </p>

    <img src="{% static 'images/goldc.jpg' %}" style = "float:left;width: 20%; height: 20%;margin-left: 200px; margin-top: 200px; border-radius: 15px; "></img>
    <p style = "float: left;margin-top: 200px;font-size: 24px; width: 20%;">
        <b>Profitable projects unseen</b>
        <br><br>Valuable projects are discarded because of the higher barrier to entry. There’s profit to be had in taking less publicized projects.
    </p>

</div>

<div class = "w3-container" style = "background-color: white;">
    <p class = "splash-image" style = "font-size: 80px; padding-top: 200px;"><b>Newest Projects on Minefinder</b></p>
    <p class = "splash-image" style = "font-size: 30px; padding-top: 20px;opacity: 50%;">MineFinder has a portfolio of available mineral mining and exploration projects.</p>
    <button class="button" style = "color:white;background-color:#B85C38;font-size:28px;padding:18px 36px; margin-left: 41.25%;">Search for more projects here</button>
</div>

<div class = "w3-container" style = "background-color: white;">
    <p class = "splash-image" style = "font-size: 80px; padding-top: 200px;"><b>Testimonials</b></p>
    <p style = "float: left; width: 15%;text-align: center;margin: 200px 320px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 5px;">
        <img src="{% static 'images/GEA.png' %}" alt="meeting" style = "width:100%; background-color: grey;"></img>
        <br>As a prospect generator, we had trouble getting projects to the big companies, with MineFinder pitching projects is much easier. <br><br><b>ANGELA DUNN</b><br>MD<br>
    </p>
    <p style = "float: left; width: 15%;text-align: center;margin: 200px 60px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 5px;">
        <img src="{% static 'images/MPX.png' %}" alt="sell" style = "width:100%; background-color: grey;"></img>
        <br>MPX identifies, acquires and invests in mineral exploration across Australia. MineFinder has been instrumental in our success. <br><br><b>SIMON COHN</b><br> Exploration Manager<br>
        
    </p>
    <p style = "float: right; width: 15%;text-align: center;margin: 200px 290px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 5px;">
        <img src="{% static 'images/E79.png' %}" alt="audit" style = "width:100%;"></img>
        <br>The E79 Trust uses MineFinder to evaluate potential early-stage investments. We have used other solutions before and find them very clunky compared to MineFinder. <br><br><b>CHARLOTTE ANDERSON</b><br> Director<br>  
    </p>
</div>
{% endblock %}