{% extends 'base.html' %}

{% block content %}

{% load static %}

<p>Thread Page</p>
<form action = "" method = "POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{threadform.as_p}}
    <input type="submit" value="Submit">
</form>

<p style = "font-size: 36px;"><b>Your Threads</b></p>
{% for thread in threads %}
    <img src = "{% static 'images/GreenHill.jpg' %}" style = "height: 300px;"><br>
    <a href = "/dealroom/{{thread.id}}" style = "color: #B85C38;"><b>{{thread.name}}<b></a><br>
{% endfor %}

{% endblock %}